<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div>
  
    <% @projects.each do |project| %>
      <div class="icebox col-10 offset-1">
        <h1><%= project.project_name %></h1>
        <p><%= project.user_id %></p>
        <p><%= project.project_id %></p>        
        <p><%= project.start_time %></p>
        <p><%= project.duration %></p>
      </div>
    <% end %>

</div>

<br>

<%= link_to 'New Project', new_project_path %>
